force-app/main/default/flows/Adyen_OOBO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Cart_Item_0</name>
        <label>Add Cart Item</label>
        <locationX>3130</locationX>
        <locationY>4076</locationY>
        <actionName>addCartItem</actionName>
        <actionType>addCartItem</actionType>
        <connector>
            <targetReference>Product_Items_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartStateOrId</name>
            <value>
                <elementReference>Create_Cart.cartSummary.cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cartItemInput</name>
            <value>
                <elementReference>Cart_Item_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>effectiveAccountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>webStoreId</name>
            <value>
                <elementReference>selectedWebstore.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addCartItem</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Cart</name>
        <label>Create Cart</label>
        <locationX>2426</locationX>
        <locationY>2954</locationY>
        <actionName>createCart</actionName>
        <actionType>createCart</actionType>
        <connector>
            <targetReference>Product_Items_Loop</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartInput</name>
            <value>
                <elementReference>CartInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>webStoreId</name>
            <value>
                <elementReference>selectedWebstore.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createCart</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Delete_Existing_Cart</name>
        <label>Delete Existing Cart</label>
        <locationX>2426</locationX>
        <locationY>2738</locationY>
        <actionName>deleteCart</actionName>
        <actionType>deleteCart</actionType>
        <connector>
            <targetReference>Initialize_Cart_Input</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartStateOrId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>effectiveAccountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>webStoreId</name>
            <value>
                <elementReference>selectedWebstore.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>deleteCart</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Authorize_Payment</name>
        <label>Post Authorize Payment</label>
        <locationX>2162</locationX>
        <locationY>5654</locationY>
        <actionName>PaymentLinkGenerateAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Cart_Post_Auth</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_Authorize_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>cartSummaryTotals.grandTotalAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>billingAddressJson</name>
            <value>
                <elementReference>JSON_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencyIsoCode</name>
            <value>
                <elementReference>cartSummaryTotals.currencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>merchantReference</name>
            <value>
                <elementReference>Get_Order_Reference.InitialOrderReferenceNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentGatewayId</name>
            <value>
                <elementReference>Payment_Gateway.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PaymentLinkGenerateAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Active_Stages</name>
        <label>Active Stages</label>
        <locationX>4362</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Enter_Billing_Information_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Webstores_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Active_Stages_2</name>
        <label>Active Stages</label>
        <locationX>4098</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payment_Details_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Submit_Order_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Webstores_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Active_Stages_Billing_Stage</name>
        <label>Active Stages</label>
        <locationX>3086</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Enter_Billing_Information_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Webstore_and_Location_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Active_Stages_Multiple_Location_Groups</name>
        <label>Active Stages</label>
        <locationX>3834</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Location_Group_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Product_and_Quantity_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Enter_Shipping_Address_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Delivery_Option_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order_Preview_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Location_Group_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Using_External_Payment_Mode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Active_Stages_Multiple_Webstores</name>
        <label>Active Stages</label>
        <locationX>2954</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Webstore_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Product_and_Quantity_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Enter_Shipping_Address_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Delivery_Option_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order_Preview_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Webstore_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Using_External_Payment_Mode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Active_Stages_Multiple_Webstores_And_Location_Groups</name>
        <label>Active Stages</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Webstore_And_Location_Group_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Product_and_Quantity_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Enter_Shipping_Address_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Delivery_Option_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order_Preview_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Webstore_And_Location_Group_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Using_External_Payment_Mode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Active_Stages_Single</name>
        <label>Active Stages</label>
        <locationX>4230</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Product_and_Quantity_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Enter_Shipping_Address_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Delivery_Option_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order_Preview_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Product_and_Quantity_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Using_External_Payment_Mode_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Active_Stages_Submit_Order</name>
        <label>Active Stages</label>
        <locationX>2822</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payment_Details_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Submit_Order_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Webstore_and_Location_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Group_Count</name>
        <label>Location Group Count</label>
        <locationX>2536</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>locationGroupCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Location_Groups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Webstores_Or_Multiple_Location_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Group_Multiple_Webstores</name>
        <label>Location Group</label>
        <locationX>3042</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>selectedLocationGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Group_Loop_Multiple_Webstores</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Group_Loop_Multiple_Webstores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Group_Single</name>
        <label>Location Group</label>
        <locationX>4318</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>selectedLocationGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Group_Loop_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Group_Loop_Single</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Location_Groups_Error_Message</name>
        <label>No Location Groups Error Message</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errorMessageImage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Title_No_Location_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_No_Location_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Webstore_Count</name>
        <label>Webstore Count</label>
        <locationX>3311</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>webstoreCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Webstores</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Use_Location_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Webstore_Multiple_Location_Groups</name>
        <label>Webstore</label>
        <locationX>3922</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>selectedWebstore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Webstore_Loop_Multiple_Location_Groups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Webstore_Loop_Multiple_Location_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Webstore_Single</name>
        <label>Webstore</label>
        <locationX>4318</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>selectedWebstore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Webstore_Loop_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Webstore_Loop_Single</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Webstore_Without_Location_Groups</name>
        <label>Webstore</label>
        <locationX>5330</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>selectedWebstore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Webstores_Loop_Without_Location_Groups</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Webstores_Loop_Without_Location_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cart_Item_Input_Assignment</name>
        <label>Cart Item Input</label>
        <locationX>3130</locationX>
        <locationY>3968</locationY>
        <assignmentItems>
            <assignToReference>Cart_Item_Input.productId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Items_Loop.productId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cart_Item_Input.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Items_Loop.quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Cart_Item_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage</name>
        <label>Current Stage</label>
        <locationX>2162</locationX>
        <locationY>5222</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Details_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_Confirmation_Stage</name>
        <label>Current Stage = Confirmation</label>
        <locationX>2426</locationX>
        <locationY>6170</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Payment_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_Enter_Billing_Information_Stage</name>
        <label>Current Stage = Enter Billing Information</label>
        <locationX>2690</locationX>
        <locationY>5222</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Billing_Information_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_Enter_Shipping_Address_Stage</name>
        <label>Current Stage = Enter Shipping Address</label>
        <locationX>2426</locationX>
        <locationY>4466</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Shipping_Address_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Shipping_Address_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_Order_Preview_Stage</name>
        <label>Current Stage = Order Preview</label>
        <locationX>2426</locationX>
        <locationY>4898</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Preview_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preview_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_Submit_Order_Stage</name>
        <label>Current Stage = Submit Order</label>
        <locationX>2162</locationX>
        <locationY>5870</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submit_Order_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Failure_Error_Message</name>
        <label>Failure Error Message</label>
        <locationX>2778</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Title_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Cart_Input</name>
        <label>Initialize Cart Input</label>
        <locationX>2426</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>CartInput.effectiveAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invalid_Account_ID_Error_Message</name>
        <label>Invalid Account ID Error Message</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_No_Account_Found</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_No_Account_Found_Fault</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invocable_Action_Error_Message</name>
        <label>Invocable Action Error Message</label>
        <locationX>3658</locationX>
        <locationY>4184</locationY>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Image</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_WebStores_Error_Message</name>
        <label>No WebStores Error Message</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Title_No_Webstore_Fault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_No_Webstore_Fault</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Post_Authorize_Error</name>
        <label>Post Authorize Error</label>
        <locationX>2426</locationX>
        <locationY>5762</locationY>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Failed_To_Generate_Payment_Link</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Current_Stage_4</name>
        <label>Current Stage = Select Delivery Option</label>
        <locationX>2426</locationX>
        <locationY>4682</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Delivery_Option_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Delivery_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Webstore_Assignment</name>
        <label>Webstore</label>
        <locationX>3042</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>selectedWebstore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Webstores_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Webstores_Loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Delivery_Group_Stage_Number</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Invocable_Action_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Unmanaged_Order_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Exists</name>
        <label>Account Exists?</label>
        <locationX>931</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Webstores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Account_ID_Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Location_Groups</name>
        <label>Any Location Groups?</label>
        <locationX>1557</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Location_Group_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Any_Location_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location_Groups</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_No_Location_Groups_Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Webstores</name>
        <label>Any Webstores?</label>
        <locationX>1812</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Webstore_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Any_Webstores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Webstores</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_WebStores_Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>CartExists</name>
        <label>Cart Exists?</label>
        <locationX>2954</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Initialize_Cart_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cartId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Cart</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>External_Payment_Mode_2</name>
        <label>External Payment Mode?</label>
        <locationX>2426</locationX>
        <locationY>5114</locationY>
        <defaultConnector>
            <targetReference>Current_Stage_Enter_Billing_Information_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_External_Payment_Mode_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalPaymentMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Webstores_Or_Multiple_Location_Groups</name>
        <label>Multiple Webstores or Multiple Location Groups?</label>
        <locationX>2536</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Webstore_Loop_Single</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Multiple_Webstores_and_Location_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>webstoreCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>locationGroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Stages_Multiple_Webstores_And_Location_Groups</targetReference>
            </connector>
            <label>Both</label>
        </rules>
        <rules>
            <name>Multiple_Webstores</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>webstoreCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>locationGroupCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Group_Loop_Multiple_Webstores</targetReference>
            </connector>
            <label>Multiple Webstores</label>
        </rules>
        <rules>
            <name>Multiple_Location_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>webstoreCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>locationGroupCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Webstore_Loop_Multiple_Location_Groups</targetReference>
            </connector>
            <label>Multiple Location Groups</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Webstores_Without_Location_Groups</name>
        <label>Multiple Webstores?</label>
        <locationX>5066</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Webstores_Loop_Without_Location_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Multiple_Webstores_Without_Location_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>webstoreCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Active_Stages_Multiple_Webstores</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Exists</name>
        <label>Product Exists?</label>
        <locationX>3130</locationX>
        <locationY>3170</locationY>
        <defaultConnector>
            <targetReference>Cart_Item_Input_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Product_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Items_Loop.productId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Exists_After_Creation</name>
        <label>Product Exists?</label>
        <locationX>2778</locationX>
        <locationY>3386</locationY>
        <defaultConnector>
            <targetReference>Cart_Item_Input_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Items_Loop.productId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Create_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Location_Groups</name>
        <label>Use Location Groups?</label>
        <locationX>3311</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Multiple_Webstores_Without_Location_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Use_Location_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>useLocationGroups</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_Groups</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Using_External_Payment_Mode</name>
        <label>Using External Payment Mode?</label>
        <locationX>2954</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Active_Stages_Billing_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalPaymentMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Stages_Submit_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Using_External_Payment_Mode_2</name>
        <label>Using External Payment Mode?</label>
        <locationX>4230</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Active_Stages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Using_External_Payment_Mode_2_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalPaymentMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Stages_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Webstore_with_Selected_ID</name>
        <label>Webstore with Selected ID</label>
        <locationX>3174</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Webstores_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Webstore_with_Selected_ID_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Webstores_Loop.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>tempSelectedWebstoreId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Webstore_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>OOBO Flow that supports Adyen Pay By Link solution for payments.</description>
    <dynamicChoiceSets>
        <name>Location_Group_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>LocationGroupName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LocationGroup</object>
        <outputAssignments>
            <assignToReference>selectedLocationGroup.Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedLocationGroup.ExternalReference</assignToReference>
            <field>ExternalReference</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedLocationGroup.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedLocationGroup.LocationGroupName</assignToReference>
            <field>LocationGroupName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedLocationGroup.ShouldSyncWithOci</assignToReference>
            <field>ShouldSyncWithOci</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Webstore_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2CE</stringValue>
            </value>
        </filters>
        <object>WebStore</object>
        <outputAssignments>
            <assignToReference>tempSelectedWebstoreId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>JSON_Address</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;city&quot;: &quot;&apos; &amp; {!Billing_Address.city} &amp; &apos;&quot;, &quot;country&quot;: &quot;&apos; &amp; {!Billing_Address.country} &amp; &apos;&quot;, &quot;postalCode&quot;: &quot;&apos; &amp; {!Billing_Address.postalCode} &amp; &apos;&quot;, &quot;state&quot;: &quot;&apos; &amp; {!Billing_Address.province} &amp; &apos;&quot;, &quot;street&quot;: &quot;&apos; &amp; {!Billing_Address.street} &amp; &apos;&quot;}&apos;</expression>
    </formulas>
    <interviewLabel>Adyen OOBO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Adyen OOBO</label>
    <loops>
        <name>Location_Group_Loop_Multiple_Webstores</name>
        <label>Location Group</label>
        <locationX>2954</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Location_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Location_Group_Multiple_Webstores</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_Stages_Multiple_Webstores</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Location_Group_Loop_Single</name>
        <label>Location Group</label>
        <locationX>4230</locationX>
        <locationY>1514</locationY>
        <collectionReference>Get_Location_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Location_Group_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_Stages_Single</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Product_Items_Loop</name>
        <label>Product Items</label>
        <locationX>2426</locationX>
        <locationY>3062</locationY>
        <collectionReference>productItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Current_Stage_Enter_Shipping_Address_Stage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Webstore_Loop_Multiple_Location_Groups</name>
        <label>Webstore</label>
        <locationX>3834</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Webstores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Webstore_Multiple_Location_Groups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_Stages_Multiple_Location_Groups</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Webstore_Loop_Single</name>
        <label>Webstore</label>
        <locationX>4230</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Webstores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Webstore_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Location_Group_Loop_Single</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Webstores_Loop</name>
        <label>Webstores</label>
        <locationX>2954</locationX>
        <locationY>2030</locationY>
        <collectionReference>Get_Webstores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Webstore_with_Selected_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>productSelectionScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Webstores_Loop_Without_Location_Groups</name>
        <label>Webstores</label>
        <locationX>5242</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Webstores</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Webstore_Without_Location_Groups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Active_Stages_Single</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Product_Create_Record</name>
        <label>Product</label>
        <locationX>2514</locationX>
        <locationY>3494</locationY>
        <assignRecordIdToReference>Product_Items_Loop.productId</assignRecordIdToReference>
        <connector>
            <targetReference>Cart_Item_Input_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Product_Items_Loop.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Product_Items_Loop.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductCode</field>
            <value>
                <elementReference>Product_Items_Loop.sku</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StockKeepingUnit</field>
            <value>
                <elementReference>Product_Items_Loop.sku</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordCreates>
    <recordCreates>
        <name>Save_Payment_Link</name>
        <label>Save Payment Link</label>
        <locationX>2426</locationX>
        <locationY>6278</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>cartSummaryTotals.grandTotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>cartSummaryTotals.currencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expire_Date__c</field>
            <value>
                <elementReference>Post_Authorize_Payment.expirationDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Post_Authorize_Payment.paymentLinkId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <elementReference>orderReferenceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shopper_Email__c</field>
            <value>
                <elementReference>paymentSelector.shopperEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL__c</field>
            <value>
                <elementReference>Post_Authorize_Payment.paymentLink</elementReference>
            </value>
        </inputAssignments>
        <object>Payment_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Account for the record Id passed</description>
        <name>Get_Account</name>
        <label>Account</label>
        <locationX>931</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch All Location Groups</description>
        <name>Get_Location_Groups</name>
        <label>Location Groups</label>
        <locationX>1557</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Location_Groups</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LocationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Reference</name>
        <label>Get Order Reference</label>
        <locationX>2162</locationX>
        <locationY>5546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_Authorize_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Cart.cartSummary.cartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebCart</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Product</label>
        <locationX>2778</locationX>
        <locationY>3278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Exists_After_Creation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StockKeepingUnit</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Items_Loop.sku</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>Product_Items_Loop.productId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Fetch all web stores.</description>
        <name>Get_Webstores</name>
        <label>Webstores</label>
        <locationX>1812</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Webstores</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Failure_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2CE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WebStore</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Payment_Gateway</name>
        <label>Payment Gateway</label>
        <locationX>2162</locationX>
        <locationY>5438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Reference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentGatewayName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Adyen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentGateway</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Failure_Exit</name>
        <label>Failure Exit</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Cart_Post_Auth</name>
        <label>Update Cart with Post Auth</label>
        <locationX>2162</locationX>
        <locationY>5762</locationY>
        <connector>
            <targetReference>Current_Stage_Submit_Order_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Cart.cartSummary.cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Billing_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Billing_Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Billing_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Billing_Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Billing_Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentGroupId</field>
            <value>
                <elementReference>Post_Authorize_Payment.paymentGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethodId</field>
            <value>
                <elementReference>Post_Authorize_Payment.paymentMethodId</elementReference>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>2426</locationX>
        <locationY>6386</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>pblConfirmationScreen</name>
            <extensionName>c:adyenPblConfirmationScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>linkExpiryDate</name>
                <value>
                    <elementReference>Post_Authorize_Payment.linkExpiresAt</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderReference</name>
                <value>
                    <elementReference>orderReferenceNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentLink</name>
                <value>
                    <elementReference>Post_Authorize_Payment.paymentLink</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentMode</name>
                <value>
                    <elementReference>paymentSelector.paymentMode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shopperEmail</name>
                <value>
                    <elementReference>paymentSelector.shopperEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shopperName</name>
                <value>
                    <elementReference>paymentSelector.shopperName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FlowFooter7</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Shipping_Address_Screen</name>
        <label>Enter Shipping Address Screen</label>
        <locationX>2426</locationX>
        <locationY>4574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Current_Stage_4</targetReference>
        </connector>
        <fields>
            <name>Billing_Address_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(62, 62, 60);&quot;&gt;Enter Billing Address&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billing_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Account.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Account.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Account.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Account.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Account.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Header_enter_shipping_address</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(62, 62, 60);&quot;&gt;Enter Shipping Address&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShippingWrapper</name>
            <extensionName>runtime_commerce_oms:shippingWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>Get_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>Create_Cart.cartSummary.cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>webStore</name>
                <value>
                    <elementReference>selectedWebstore</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkoutId</name>
                <value>
                    <elementReference>checkoutId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkoutData</name>
                <value>
                    <elementReference>checkoutData</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>checkoutId</assignToReference>
                <name>checkoutId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>checkoutData</assignToReference>
                <name>checkoutData</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Output_Message_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!errorMessageImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Output_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessageTitle}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Screen</name>
        <label>Payment Screen</label>
        <locationX>2426</locationX>
        <locationY>6062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Current_Stage_Confirmation_Stage</targetReference>
        </connector>
        <fields>
            <name>Header_enter_billing_information</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Enter Billing Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>externalPaymentMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>submitOrderHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(62, 62, 60);&quot;&gt;Submit Order&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>externalPaymentMode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>paymentWrapper</name>
            <extensionName>runtime_commerce_oms:paymentWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>Get_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>webStore</name>
                <value>
                    <elementReference>selectedWebstore</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkoutId</name>
                <value>
                    <elementReference>checkoutId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>Create_Cart.cartSummary.cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cartSummaryTotals</name>
                <value>
                    <elementReference>cartSummaryTotals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkoutData</name>
                <value>
                    <elementReference>checkoutData</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>externalPaymentMode</name>
                <value>
                    <elementReference>externalPaymentMode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>orderReferenceNumber</assignToReference>
                <name>orderReferenceNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Selection</name>
        <label>Payment Selection</label>
        <locationX>2162</locationX>
        <locationY>5330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment_Gateway</targetReference>
        </connector>
        <fields>
            <name>paymentSelector</name>
            <extensionName>c:choosePayment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Payment_Selection_footer</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preview_Screen</name>
        <label>Preview Screen</label>
        <locationX>2426</locationX>
        <locationY>5006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>External_Payment_Mode_2</targetReference>
        </connector>
        <fields>
            <name>Header_order_preview</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Order Preview&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preview_Wrapper</name>
            <extensionName>runtime_commerce_oms:previewWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>Get_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>Create_Cart.cartSummary.cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>webStore</name>
                <value>
                    <elementReference>selectedWebstore</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cartSummaryTotals</name>
                <value>
                    <elementReference>cartSummaryTotals</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>cartSummaryTotals</assignToReference>
                <name>cartSummaryTotals</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FlowFooter5</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>productSelectionScreen</name>
        <label>Product Selection</label>
        <locationX>2954</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CartExists</targetReference>
        </connector>
        <fields>
            <name>Header_select_product_and_quantity</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Select a Product and Quantity&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productSelectWrapper</name>
            <extensionName>runtime_commerce_oms:prdSelectWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>productData</name>
                <value>
                    <elementReference>productItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>webStore</name>
                <value>
                    <elementReference>selectedWebstore</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationGroup</name>
                <value>
                    <elementReference>selectedLocationGroup</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>Get_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applyOci</name>
                <value>
                    <elementReference>applyOCI</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useLocationGroups</name>
                <value>
                    <elementReference>useLocationGroups</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>productItems</assignToReference>
                <name>productData</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>cartId</assignToReference>
                <name>cartId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>FlowFooter2</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Delivery_Group</name>
        <label>Select Delivery Group</label>
        <locationX>2426</locationX>
        <locationY>4790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Current_Stage_Order_Preview_Stage</targetReference>
        </connector>
        <fields>
            <name>Header_select_delivery_option</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Select a Delivery Option&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectShippingMethod</name>
            <extensionName>runtime_commerce_oms:shipMethodWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>webStore</name>
                <value>
                    <elementReference>selectedWebstore</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkoutId</name>
                <value>
                    <elementReference>checkoutId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkoutData</name>
                <value>
                    <elementReference>checkoutData</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>checkoutData</assignToReference>
                <name>checkoutData</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>checkoutId</assignToReference>
                <name>checkoutId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Webstore_and_Location_Group</name>
        <label>Select Webstore and Location Group</label>
        <locationX>2954</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Webstores_Loop</targetReference>
        </connector>
        <fields>
            <name>Header_Both_Webstore_and_Location_Group_Selection</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Select a Store and Location Group&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>webstoreCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>locationGroupCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>useLocationGroups</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Header_Store_Webstore_and_Location_Group_Selection</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(62, 62, 60);&quot;&gt;Select a Store&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>locationGroupCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>useLocationGroups</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Header_Location_Group_Webstore_and_Location_Group_Selection</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Select a Location Group&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>webstoreCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>useLocationGroups</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Webstore_and_Location_Group_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Webstore_and_Location_Group_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Webstore_and_Location_Group_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Webstore</name>
                    <choiceReferences>Webstore_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedWebstore.Name</elementReference>
                    </defaultValue>
                    <fieldText>Store</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>webstoreCount</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Select_Location_Group</name>
                    <choiceReferences>Location_Group_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>selectedLocationGroup.LocationGroupName</elementReference>
                    </defaultValue>
                    <fieldText>Location Group</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>locationGroupCount</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>useLocationGroups</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Webstore_and_Location_Group_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>FlowFooter1</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_commerce_oe__Order_Entry</sourceTemplate>
    <stages>
        <name>Confirmation_Stage</name>
        <isActive>false</isActive>
        <label>Confirmation</label>
        <stageOrder>8</stageOrder>
    </stages>
    <stages>
        <name>Enter_Billing_Information_Stage</name>
        <isActive>false</isActive>
        <label>Enter Billing Information</label>
        <stageOrder>7</stageOrder>
    </stages>
    <stages>
        <name>Enter_Shipping_Address_Stage</name>
        <isActive>false</isActive>
        <label>Enter Shipping Address</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Order_Preview_Stage</name>
        <isActive>false</isActive>
        <label>Order Preview</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>Payment_Details_Stage</name>
        <isActive>false</isActive>
        <label>Payment Details Stage</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Select_Delivery_Option_Stage</name>
        <isActive>false</isActive>
        <label>Select a Delivery Option</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Select_Location_Group_Stage</name>
        <isActive>false</isActive>
        <label>Select a Location Group</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Select_Product_and_Quantity_Stage</name>
        <isActive>false</isActive>
        <label>Select a Product and Quantity</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Select_Webstore_And_Location_Group_Stage</name>
        <isActive>false</isActive>
        <label>Select a Store and Location Group</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>Select_Webstore_Stage</name>
        <isActive>false</isActive>
        <label>Select a Store</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Submit_Order_Stage</name>
        <isActive>false</isActive>
        <label>Submit Order</label>
        <stageOrder>9</stageOrder>
    </stages>
    <start>
        <locationX>805</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Error_Output_Failed_To_Generate_Payment_Link</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Failed To Generate Payment Link.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Invocable_Action_Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An Order on Behalf Of flow action failed.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_No_Account_Found</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;No account found.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_No_Account_Found_Fault</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;To place an order, provide a valid account id.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_No_Location_Group</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Placing an order requires a location group.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_No_Webstore_Fault</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Placing an order requires a B2CE store.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Title_No_Location_Group</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>No location group found.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Title_No_Webstore_Fault</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>No B2CE store found.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Title_Wrong_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;This is where you&apos;d place an order. To place an order, start from the account page.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We don&apos;t think you meant to come here.</text>
    </textTemplates>
    <variables>
        <name>applyOCI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Auth</name>
        <apexClass>ConnectApi__AuthorizationRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorizationResponse</name>
        <apexClass>ConnectApi__AuthorizationResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cart_Item_Input</name>
        <apexClass>ConnectApi__CartItemInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CartInput</name>
        <apexClass>ConnectApi__CartInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cartSummaryTotals</name>
        <apexClass>runtime_commerce_oe__CartSummaryTotals</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutData</name>
        <apexClass>runtime_commerce_oe__CheckoutData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>externalPaymentMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>locationGroupCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Location Groups Assignment Values</description>
        <name>locationGroupsAssigmentValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LocationGroupAssignment</objectType>
    </variables>
    <variables>
        <description>Location Groups Values</description>
        <name>locationGroupsValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LocationGroup</objectType>
    </variables>
    <variables>
        <name>orderReferenceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productItems</name>
        <apexClass>runtime_commerce_oe__ProductItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedLocationGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LocationGroup</objectType>
    </variables>
    <variables>
        <description>Selected Webstore object</description>
        <name>selectedWebstore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WebStore</objectType>
    </variables>
    <variables>
        <name>tempSelectedWebstoreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Flag to determine whether we need to show Location Group selection or not.</description>
        <name>useLocationGroups</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>webstoreCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
