force-app/main/default/flows/Regenerate_Payment_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Expire other active links</description>
        <name>Force_Expire_Links</name>
        <label>Force Expire Links</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>PaymentLinkExpireAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PaymentLinkExpireAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_Link</name>
        <label>Generate Link</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>PaymentLinkGenerateAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Payment_Link</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Get_Last_Link.Amount__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencyIsoCode</name>
            <value>
                <elementReference>Get_Last_Link.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>merchantReference</name>
            <value>
                <elementReference>Get_Last_Link.Order_Number__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PaymentLinkGenerateAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <description>Flow used to deactivate any previous link and generate a new one.</description>
    <environments>Default</environments>
    <interviewLabel>Regenerate Payment Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Regenerate Payment Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_Payment_Link</name>
        <label>Save Payment Link</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>PBL_Confirmation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Get_Last_Link.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Last_Link.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expire_Date__c</field>
            <value>
                <elementReference>Generate_Link.expirationDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Generate_Link.paymentLinkId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <elementReference>Get_Last_Link.Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Summary__c</field>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shopper_Email__c</field>
            <value>
                <elementReference>Shopper_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL__c</field>
            <value>
                <elementReference>Generate_Link.paymentLink</elementReference>
            </value>
        </inputAssignments>
        <object>Payment_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the number of expiration days based on the Adyen Default record from the Adyen Adapter custom metadata type.</description>
        <name>Get_Expiration_Day</name>
        <label>Get Expiration Day</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Link_Details_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AdyenDefault</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Adyen_Adapter__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get most recent link</description>
        <name>Get_Last_Link</name>
        <label>Get Last Link</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Link__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Expiration_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>704</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;An error has occurred while performing the operation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Link_Details_Screen</name>
        <label>Payment Link Details Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Force_Expire_Links</targetReference>
        </connector>
        <fields>
            <name>Shopper_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Last_Link.Shopper_Email__c</elementReference>
            </defaultValue>
            <fieldText>Shopper Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expiration_Overview_Display_Text</name>
            <fieldText>&lt;p&gt;The new link will be the only one active, any other active link will be expired. This new link will have to be paid within {!Get_Expiration_Day.Payment_Link_Expiry_Duration__c} day(s).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PBL_Confirmation_Screen</name>
        <label>PBL Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LWC_PBL_Confirmation</name>
            <extensionName>c:adyenPblConfirmationScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>linkExpiryDate</name>
                <value>
                    <elementReference>Generate_Link.linkExpiresAt</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderReference</name>
                <value>
                    <elementReference>Get_Last_Link.Order_Number__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentLink</name>
                <value>
                    <elementReference>Generate_Link.paymentLink</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shopperEmail</name>
                <value>
                    <elementReference>Shopper_Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentMode</name>
                <value>
                    <stringValue>pbl</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shopperName</name>
                <value>
                    <elementReference>Get_Order_Summary.Account.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_Link</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
